@CHARSET "UTF-8";

.meti-menu-level-0 {
  background: #ecf0f1;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  padding-top:0px;
  padding-right:10px;
  padding-bottom:0px;
  padding-left:10px;
  
 
}
.meti-menu-level-0-title {
  display: block;
  background: #3498db;
  border: 1px solid white;
  color: white;
  padding: 10px;
}

.meti-menu-table {
   display: table;
   padding:5px;
   width: 100%;
   max-width: 100%;
   border: 1px solid white;
   margin:5px 5px 0px 0px;
   
}
.meti-menu-table>tbody>tr>td {
    padding-top:2px;
    padding-right:10px;
    padding-bottom:2px;
    padding-left:10px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid white;
}

.meti-menu-submenu {
  display:table-row;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  color: #2874A6;
  padding: 10px
  
}

.meti-menu-submenu-list{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  color: white;
  background:#48c9b0;
  padding: 10px
  
}

.meti-menu-submenu-list-table {
   display: table;
   padding:5px;
   width: 100%;
   max-width: 100%;
   border: 1px solid white;
   margin:5px 0px 0px 10px;
   
}

.meti-menu-submenu-list-table>p {
    display: inline-block;
    padding-left: 10px;
    text-indent: -10px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid white;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.meti-menu-submenu-list-table>p>a{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  color: #0B5345;
  padding: 10px
}