<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
 <display-name>*webmeti db:tesztbf*</display-name>
 <description>*Base Framework</description>
 <context-param>
  <param-name>Creator</param-name>
  <param-value>*SwissMTD</param-value>
 </context-param>
 <context-param>
  <param-name>Customer</param-name>
  <param-value>*Demo</param-value>
 </context-param>
 <context-param>
  <param-name>Version</param-name>
  <param-value>1.0</param-value>
 </context-param>
 <context-param>
  <param-name>appletclassname</param-name>
  <param-value>main.mainapp</param-value>
 </context-param>
 <context-param>
  <param-name>appletjarname</param-name>
  <param-value>Smethisapplet.jar</param-value>
 </context-param>
 <context-param>
  <param-name>bejovoeszamladir</param-name>
  <param-value>/var/lib/tomcat7/webapps/tesztbf/WEB-INF/eszamla/bejovo</param-value>
 </context-param>
 <context-param>
  <param-name>connectstring</param-name>
  <param-value>jdbc:postgresql://127.0.0.1/tesztbf7</param-value>
 </context-param>
 <context-param>
  <param-name>driverclass</param-name>
  <param-value>org.postgresql.Driver</param-value>
 </context-param>
 <context-param>
  <param-name>expiredinterval</param-name>
  <param-value>120</param-value>
 </context-param>
 <context-param>
  <param-name>key1len</param-name>
  <param-value>8</param-value>
 </context-param>
 <context-param>
  <param-name>key2len</param-name>
  <param-value>8</param-value>
 </context-param>
 <context-param>
  <param-name>kimenoeszamladir</param-name>
  <param-value>/var/lib/tomcat7/webapps/tesztbf/WEB-INF/eszamla/kimeno</param-value>
 </context-param>
 <context-param>
  <param-name>maxconndb</param-name>
  <param-value>20</param-value>
 </context-param>
 <context-param>
  <param-name>password</param-name>
  <param-value>postgres</param-value>
 </context-param>
 <context-param>
  <param-name>username</param-name>
  <param-value>postgres</param-value>
 </context-param>
 <servlet>
  <servlet-name>LoginServlet</servlet-name>
  <servlet-class>LoginServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>CommServlet</servlet-name>
  <servlet-class>CommServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ModuleServlet</servlet-name>
  <servlet-class>ModuleServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>TesztServlet</servlet-name>
  <servlet-class>TesztServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>InfoServlet</servlet-name>
  <servlet-class>InfoServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>ReceiverServlet</servlet-name>
  <servlet-class>ReceiverServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>AdminServlet</servlet-name>
  <servlet-class>AdminServlet</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>HandlerServlet</servlet-name>
  <servlet-class>services.HandlerServlet</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>LoginServlet</servlet-name>
  <url-pattern>/LoginServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>CommServlet</servlet-name>
  <url-pattern>/CommServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ModuleServlet</servlet-name>
  <url-pattern>/ModuleServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>TesztServlet</servlet-name>
  <url-pattern>/TesztServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>InfoServlet</servlet-name>
  <url-pattern>/InfoServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>AdminServlet</servlet-name>
  <url-pattern>/AdminServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ReceiverServlet</servlet-name>
  <url-pattern>/ReceiverServlet</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>HandlerServlet</servlet-name>
  <url-pattern>/HS</url-pattern>
 </servlet-mapping>
 <welcome-file-list>
  <welcome-file>/start.jsp</welcome-file>
 </welcome-file-list>
</web-app>
